*{
    box-sizing: border-box;
}
#page-header{
    background-image: url(Images/photo_2023-05-04_23-43-09.jpg);
    width: 100%;
    height: 45vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    padding-top: 11%;
    padding-bottom: 11%;
}
#page-header h1, 
#page-header p{
    color: #ffffff;
}
nav{
    background-color: rgb(211, 209, 208);
    height: 80px;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
}
nav ul{
    float: right;
    margin-right: 30px;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 40px;
    margin-top: 18px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    color: rgb(31, 138, 188);
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 5px;
}
.checkbtn{
    color: white;
    font-size: 40px;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    display: none;

}
#check{
    display: none;
}
@media screen and (max-width:768px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgb(250, 232, 208);
        text-align: center;
        padding: 0;
    }
    #check:checked ~ul{
        left:0;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
    }
}
.container{
    display: sticky;
    width: 100%;
    height: 100vh;
  
}
.card3 img{
    width: 240px; height: 280px;
    border-radius: 50px;
    padding: 20px;
}
.container{
    margin-top: 20px;
    text-align: center;
}
.card5, fieldset, button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card3{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 100px;
    width: 240px; height: 370px;
}
.card3 p{
    font-size: 20px;
}
/*footer*/

.infooter{
    background: #fff;
    width: 300px;
    height: 35px;
    display: flex;
    z-index: 2;
}
.infooter input{
    flex: 1;
    border: none;
    outline: none;

}
.infooter button{
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}
.infooter .bi-search{
    align-self: center;
    padding: 10px 20px;
    color: #777;

}

.container1{
    margin-top: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.sign-in{
    background-color: cadetblue;
    height:150px;
    margin-bottom: 40px;
}
.textin{
    padding-top:40px;
    padding-left:550px;
    padding-bottom:20px;
}
.sign-in > .textin,.email{
    flex-basis: 50%;
}
.signinbox{
    padding-top:40px;
    padding-left:55px;
    padding-bottom:20px;
    width: 50%;
    
}
.signinbox form{
    width: 500px;
    height: 55px;
}
.signinbox input{
    border: none;
    outline: none;
    padding: 10px 52px;
}
.signinbox button{
    background: rgb(176, 22, 176);
    padding: 10px 52px;
    border: none;
    outline: none;
    color: white;
}
.side-margin{
    margin-left: 50px;
    margin-right:50px;
    margin-top: 120px;
}
.payments{
    width:40px; height:30px;
    margin-right: 6px;
}
.icon{
    font-size: 28px;
}
i{
    margin-right: 5px;
    color:grey;
}
.block3 a{
    text-decoration: none;
    color:grey;
    
}
.bth{
    background-color: cadetblue;
    height: 80px;
   
}
.tth{
    margin-top:30px;
    padding-right: 10px;
    padding-top: 20px;
    color:black;
    text-align: right;
    font-size: 20px;
}
.tth a{
    color:black;
    text-decoration: none;
    font-size: 20px;
}
.tth a:hover{
    color:purple;
}
.block1{
    text-align: center;
    margin-bottom: 15px;
}
.block2{
    text-align: center;
    margin-bottom: 25px;
}
.block3{
    text-align: center;
    margin-bottom: 15px;
}
button{
    border-radius: 15px;
    background-color:red;
}
